a {
    text-decoration: none !important
}

.navbar {
    border: none;
    background: #213b52;
    margin-bottom: 0px;
    display: flex!important;
    align-items: center;
}

.navbar #my_form {
    margin-bottom: 0px;
}

.navbar-header {
    display: none;
}

.wrapper-navbar {
    display: flex!important;
    align-items: center!important;
    justify-content: left!important;
    background-color: #213b52;
}

#navbar {
    display: flex!important;
    justify-content: left;
    align-items: center;
}

#navbar li {
    list-style: none;
    margin-right: 30px;
}

#navbar li a {
    color: white;
    font-size: 18px;
}

.btn {
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}

.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}

.btn:active {
    margin-top: 2px;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 15px 16px 13px;
    line-height: 15px;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 6px 10px 4px;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 3px 5px 1px;
}

.btn-default:hover,
.btn-default:focus,
.btn-group.open .dropdown-toggle.btn-default {
    background-color: #eeeeee;
    border-color: #e2e2e2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-group.open .dropdown-toggle.btn-primary {
    background-color: #158cba;
    border-color: #127ba3;
}

.btn-success:hover,
.btn-success:focus,
.btn-group.open .dropdown-toggle.btn-success {
    background-color: #213b52;
    border-color: #213b52;
}

.btn-info:hover,
.btn-info:focus,
.btn-group.open .dropdown-toggle.btn-info {
    background-color: #75caeb;
    border-color: #5fc1e8;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-group.open .dropdown-toggle.btn-warning {
    background-color: #ff851b;
    border-color: #ff7701;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-group.open .dropdown-toggle.btn-danger {
    background-color: #ff4136;
    border-color: #ff291c;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-btn:hover {
    margin-top: 8px;
}

.navbar-btn:active {
    margin-top: 9px;
}

.navbar-btn.btn-sm:hover {
    margin-top: 11px;
}

.navbar-btn.btn-sm:active {
    margin-top: 12px;
}

.navbar-btn.btn-xs:hover {
    margin-top: 15px;
}

.navbar-btn.btn-xs:active {
    margin-top: 16px;
}

.btn-group-vertical .btn+.btn:hover {
    border-top-width: 1px;
}

.btn-group-vertical .btn+.btn:active {
    border-top-width: 2px;
}

.text-primary,
.text-primary:hover {
    color: #213b52;
}

.text-success,
.text-success:hover {
    color: #213b52;
}

.text-danger,
.text-danger:hover {
    color: #ff4136;
}

.text-warning,
.text-warning:hover {
    color: #ff851b;
}

.text-info,
.text-info:hover {
    color: #75caeb;
}

table a:not(.btn),
.table a:not(.btn) {
    text-decoration: underline;
}

table .dropdown-menu a,
.table .dropdown-menu a {
    text-decoration: none;
}

table .success,
.table .success,
table .warning,
.table .warning,
table .danger,
.table .danger,
table .info,
.table .info {
    color: #fff;
}

table .success a:not(.btn),
.table .success a:not(.btn),
table .warning a:not(.btn),
.table .warning a:not(.btn),
table .danger a:not(.btn),
.table .danger a:not(.btn),
table .info a:not(.btn),
.table .info a:not(.btn) {
    color: #fff;
}

table:not(.table-bordered)>thead>tr>th,
.table:not(.table-bordered)>thead>tr>th,
table:not(.table-bordered)>tbody>tr>th,
.table:not(.table-bordered)>tbody>tr>th,
table:not(.table-bordered)>tfoot>tr>th,
.table:not(.table-bordered)>tfoot>tr>th,
table:not(.table-bordered)>thead>tr>td,
.table:not(.table-bordered)>thead>tr>td,
table:not(.table-bordered)>tbody>tr>td,
.table:not(.table-bordered)>tbody>tr>td,
table:not(.table-bordered)>tfoot>tr>td,
.table:not(.table-bordered)>tfoot>tr>td {
    border-color: transparent;
}

.form-control {}

label {
    font-weight: normal;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
    color: #ff851b;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    border: 1px solid #ff851b;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

.has-warning .input-group-addon {
    border: 1px solid #ff851b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
    color: #ff4136;
}

.has-error .form-control,
.has-error .form-control:focus {
    border: 1px solid #ff4136;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

.has-error .input-group-addon {
    border: 1px solid #ff4136;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
    color: #213b52;
}

.has-success .form-control,
.has-success .form-control:focus {
    border: 1px solid #213b52;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

.has-success .input-group-addon {
    border: 1px solid #213b52;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    border-color: transparent;
}

.nav-tabs>li>a {
    margin-top: 6px;
    border-color: #e7e7e7;
    color: #333333;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs .open>a,
.nav-tabs .open>a:hover,
.nav-tabs .open>a:focus {
    padding-bottom: 16px;
    margin-top: 0;
}

.nav-tabs .open>a,
.nav-tabs .open>a:hover,
.nav-tabs .open>a:focus {
    border-color: #e7e7e7;
}

.nav-tabs>li.disabled>a:hover,
.nav-tabs>li.disabled>a:focus {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6px;
}

.nav-tabs.nav-justified>li {
    vertical-align: bottom;
}

.dropdown-menu {
    margin-top: 0;
    border-width: 0 1px 4px 1px;
    border-top-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb {
    border-color: #ededed;
    border-style: solid;
    border-width: 0 1px 4px 1px;
}

.pagination>li>a,
.pager>li>a,
.pagination>li>span,
.pager>li>span {
    position: relative;
    top: 0;
    border-width: 0 1px 4px 1px;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.pagination>li>a:hover,
.pager>li>a:hover,
.pagination>li>span:hover,
.pager>li>span:hover {
    top: 1px;
    border-bottom-width: 3px;
}

.pagination>li>a:active,
.pager>li>a:active,
.pagination>li>span:active,
.pager>li>span:active {
    top: 2px;
    border-bottom-width: 2px;
}

.pagination>.disabled>a:hover,
.pager>.disabled>a:hover,
.pagination>.disabled>span:hover,
.pager>.disabled>span:hover {
    top: 0;
    border-width: 0 1px 4px 1px;
}

.pagination>.disabled>a:active,
.pager>.disabled>a:active,
.pagination>.disabled>span:active,
.pager>.disabled>span:active {
    top: 0;
    border-width: 0 1px 4px 1px;
}

.pager>li>a,
.pager>li>span,
.pager>.disabled>a,
.pager>.disabled>span,
.pager>li>a:hover,
.pager>li>span:hover,
.pager>.disabled>a:hover,
.pager>.disabled>span:hover,
.pager>li>a:active,
.pager>li>span:active,
.pager>.disabled>a:active,
.pager>.disabled>span:active {
    border-left-width: 2px;
    border-right-width: 2px;
}

.close {
    color: #fff;
    text-decoration: none;
    opacity: 0.4;
}

.close:hover,
.close:focus {
    color: #fff;
    opacity: 1;
}

.alert {
    border-width: 0 1px 4px 1px;
}

.alert .alert-link {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
}

.label {
    font-weight: normal;
}

.progress {
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
}

.progress-bar {
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
}

.well {
    border: 0px solid #e7e7e7;
}

.well h3 {
    -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3);
    margin: 0px 0px 16px;
    padding: 0px;
    border: 0px;
    font-stretch: inherit;
    line-height: 22px;
    vertical-align: baseline;
    direction: rtl;
    text-size-adjust: 100%;
}

.well h3 b {
    color: inherit;
    caret-color: rgb(66, 66, 66);
    font-size: 13px;
    text-size-adjust: 100%;
    background-color: rgb(255, 255, 0);
}

.well .featureTitle {
    -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3);
    margin: 0px 0px 16px;
    padding: 0px;
    border: 0px;
    font-family: lato, latortl, sans-serif;
    font-size: 19px;
    font-weight: 700;
    font-stretch: inherit;
    line-height: 22px;
    vertical-align: baseline;
    direction: rtl;
    caret-color: rgb(66, 66, 66);
    text-size-adjust: 100%;
}

.well .featureTitle ul {
    padding-right: 15px;
    font-family: flat-jooza, "Open Sans", Montserrat, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.well .featureTitle ul li {
    color: rgb(85, 85, 85);
}

.well .featureTitle ul li a {
    color: #ff0000;
    background-color: rgb(255, 255, 0);
}

.well .featureTitle p {
    font-family: flat-jooza, "Open Sans", Montserrat, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    border-color: #eeeeee;
}

a.list-group-item-success.active {
    background-color: #213b52;
}

a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
    background-color: #213b52;
}

a.list-group-item-warning.active {
    background-color: #ff851b;
}

a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
    background-color: #ff7701;
}

a.list-group-item-danger.active {
    background-color: #ff4136;
}

a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
    background-color: #ff291c;
}

.jumbotron {
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
}

.panel {
    border: 1px solid #24608c;
    border-width: 0 1px 1px 1px;
}

.panel-default .close {
    color: #555555;
}

.modal .close {
    color: #555555;
}

.popover {
    color: #555555;
}

.navbar-brand {
    float: left;
    padding: 0 15px;
    font-size: 18px;
    line-height: 48px;
    height: 50px;
}

.navbar-brand img {
    display: inline-block;
    max-width: 100%;
    max-height: 51px;
    vertical-align: middle;
    margin-top: -1px;
}

.navbar-collapsed-before .navbar-header {
    width: 100%;
}

.navbar-collapsed-before .navbar-toggle {
    display: block;
}

.navbar-collapsed-before .navbar-nav {
    width: 100%;
}

.navbar-collapsed-before .navbar-nav li {
    width: 100%;
}

.navbar-collapsed-before .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapsed-before .navbar-right {
    width: 100%;
    float: left !important;
}

.mass-alert {
    margin-bottom: 20px;
}

.mass-alert .alert {
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.mass-alert .alert:first-child {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mass-alert .alert:last-child {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown-max-height {
    max-height: 300px;
    overflow-y: auto;
}

.titcket-title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.ticket-message-right {}

.ticket-message-right .ticket-message {
    background: #d9853b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
}

.ticket-message-left {}

.ticket-message-left .ticket-message {
    background: #24608c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
}

.ticket-message-block {
    margin-bottom: 15px;
}

body {
    padding-bottom: 50px;
}

.nowrap {
    white-space: nowrap;
}

.width-40 {
    width: 40% !important;
    word-break: break-all;
    min-width: 250px;
}

.width-service-name {
    min-width: 200px;
}

.service-description table {
    width: auto!important;
}

.description {
    border-bottom: 2px solid #dfd7ca;
}

.terms {
    margin-top: 0px;
    margin-bottom: 20px;
}

.api h1,
h2,
h3,
pre {
    margin-top: 0px;
    margin-bottom: 20px;
}

.api h4,
h5,
h6,
form {
    margin-top: 0px;
    margin-bottom: 10px;
}

.link {
    word-break: break-all;
    min-width: 200px;
}

.search {
    width: 250px;
}

.nav-pills {
    margin-bottom: 10px;
}

.pagination {
    margin: 0px;
}

.well-float {
    float: left;
    width: 100%;
}

.pull-right-middle {
    line-height: 40px;
}

.modal-body-scroller {
    max-height: 500px;
    overflow: auto;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.border-solid {
    border: 1px solid #e7e7e7;
}

.border-rounded {
    overflow-wrap: break-word;
    word-wrap: break-word;
    background: #fff;
}


/* RTL */

.rtl-navbar {
    direction: rtl;
}

.rtl-navbar .navbar-header {
    float: right;
}

.rtl-navbar .navbar-right {
    float: left !important;
    margin-left: -15px;
}

.rtl-navbar .navbar-nav {
    padding-right: 5px;
    margin-left: -15px;
}

.rtl-navbar .navbar-nav li {
    float: right;
}

.rtl-navbar .navbar-toggle {
    float: left;
}

.rtl-navbar .navbar-brand {
    float: right;
    padding-right: 15px;
}

.rtl-form {
    direction: rtl;
}

.rtl-form input {
    direction: rtl;
    text-align: right;
}

.rtl-form .checkbox label {
    padding-right: 20px;
    padding-left: 0px;
}

.rtl-form .checkbox input[type="checkbox"] {
    right: 0;
}

.rtl-form .close {
    float: left;
    right: 0;
    top: 0px;
}

.rtl-form .pull-right {
    float: left !important;
    padding-right: 0px;
}

.rtl-form .pull-right-padding {
    padding-left: 5px;
    float: left !important;
}

.rtl-content {
    direction: rtl;
}

.rtl-table {
    direction: rtl;
}

.rtl-table th {
    text-align: right;
}

.rtl-table td {
    text-align: right;
}

.rtl-h {
    direction: rtl;
    text-align: right;
}

.rtl-btn {
    float: right;
}

.rtl-content {
    direction: rtl;
}

.rtl-content h1,
.rtl-content h2,
.rtl-content h3,
.rtl-content h4,
.rtl-content h5,
.rtl-content h6 {
    text-align: right;
}

.rtl-content ul,
.rtl-content ol {
    padding-right: 15px;
}

.rtl-ul {
    text-align: right;
    direction: rtl;
    padding-right: 15px;
}

.rtl-alert {
    text-align: right;
    direction: rtl;
}

.rtl-alert .close {
    float: left;
    right: 0;
    top: 0px;
}

.rtl-pagination {
    float: right;
}

.rtl-pagination li {
    float: right;
}

.rtl-pagination li:last-child a {
    unicode-bidi: bidi-override;
    direction: rtl;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.rtl-pagination li:first-child a {
    unicode-bidi: bidi-override;
    direction: rtl;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.rtl-nav {
    float: right;
    direction: rtl;
    width: 100%;
    padding-right: 0px;
}

.rtl-nav li {
    float: right;
}

.rtl-nav .pull-right {
    float: left !important;
}

.rtl-nav .pull-right .input-group input {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rtl-nav .pull-right .input-group .btn {
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rtl-modal {
    direction: rtl;
}

.rtl-modal .close {
    float: left;
}

.rtl-modal .modal-footer {
    text-align: left;
}


/* Media */

@media (max-width: 991px) {
    .well-float {
        /*width: auto;*/
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    /* .rtl-navbar .navbar-nav {} */
    .rtl-navbar .navbar-nav li {
        width: 100%;
    }
    .rtl-navbar .navbar-header {
        display: block;
    }
    .rtl-navbar .navbar-header {
        float: none;
        margin-right: -15px;
    }
    .rtl-navbar .navbar-brand {
        float: right;
        padding-right: 15px;
    }
    .navbar-collapsed-before .navbar-header {
        width: auto;
    }
}

.order-actions {
    width: 105px;
}

@media(max-width: 1200px) {
    .order-actions {
        width: auto;
    }
    .order-actions .btn {
        margin-bottom: 2px;
    }
}

.side-bar {
    background: #213b52;
    position: fixed;
    height: 100%;
    width: 200px;
    color: #fff;
    transition: margin-left 0.5s;
    top: 0;
    z-index: 9999;
}

.side-bar ul {
    list-style: none;
    padding: 0px;
}

.side-bar ul li.menu-head {
    padding: 13.5px 20px;
    border-bottom: 1px solid #255f8b;
    font-weight: bold;
    font-size: 16px;
}

.side-bar ul li.menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}

.side-bar ul .menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}

.side-bar ul .menu li a {
    color: #fff;
    text-decoration: none;
    display: inline-table;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
}

.side-bar ul .menu li a:hover {
    border-left: 3px solid #ffbe87;
    padding-left: 17px;
}

.side-bar ul .menu li a.active {
    padding-left: 17px;
    background: #D9853B;
    border-left: 3px solid #ffbe87;
}

.side-bar ul .menu li a.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 7px solid #D9853B;
    margin-top: -10px;
    margin-left: 180px;
}

.active>.side-bar {
    margin-left: -150px;
    transition: margin-left 0.5s;
}

.active>.content {
    padding-left: 50px;
    transition: padding-left 0.5s;
}

.content {
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.content>.container {
    width: 100% !important;
}

.well {
    border-radius: 0 !important;
    background-color: #ffffff;
    border-top: 5px solid #213b52;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.btn {
    border-radius: 0;
    border: 0 !important;
}

.btn:hover {
    background-color: #127ba3;
    margin-top: 0;
}

label {
    font-weight: 300;
    color: #000;
}

body {
    background: #F3F3F4;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
}

.badge {
    border-radius: 5px !important;
    background-color: #087808;
    margin-left: 5px;
}

.fa.pull-right {
    margin-left: .3em;
    margin-top: 3px;
}

.input-group-addon:last-child {
    border-radius: 0;
    background-color: transparent;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {}

.btn-login {
    width: 100%;
    background-color: #213b52 !important;
}

.reg-text {
    text-align: center;
    display: block;
    line-height: 40px;
    font-size: 12px;
}

.login-form {
    margin-bottom: 0;
}

.well>.title {
    text-transform: uppercase;
    font-weight: bold;
    color: #0c3b5c;
    margin-bottom: 15px;
}

.input-group .form-control:first-child {
    border-right: 0;
}

.btn-orange {
    background-color: #D9853B;
    color: #FFF;
}

.btn-orange:hover,
.btn-orange:active {
    background-color: #D9853B;
    color: #FFF;
}

.login-form .input-group-addon {
    color: #0c3b5c;
}

.well>.icons {
    color: #0c3b5c;
}

.well>.icons .fa {
    margin-right: 5px;
}

footer {
    /*position: absolute;
    bottom: 20px;
  width: 100%;*/
    padding: 0 20px 20px;
}

footer .pull-right {
    padding-right: 20px;
}

body {
    height: 100vh;
    position: relative;
}

.container-fluid {
    position: relative;
    height: calc(100% - 20px);
}

.well-orange {
    border: 0;
    background-color: #da843b;
    color: #FFF;
}

.bloc-stat {
    border: 1px solid rgba(112, 112, 112, 0.12);
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #255f8b;
    color: white;
}

.bloc-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.bloc-info {
    font-size: 12px;
    padding-top: 2px;
    text-transform: uppercase;
}

.bloc-info span,
.bloc-info p {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: sans-serif;
}

.table-bordered {
    border: 1px solid #eee;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
    background: #213b52;
    color: #FFF;
    text-transform: uppercase;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #eee;
}

td.category {
    background-color: #da843b;
    color: #FFF;
}

.alert-success {
    background-color: #da843b;
    border-color: #b76b2c;
}

.nav-pills li.active a {
    color: #ffffff;
    background-color: #da843b;
    font-weight: bold;
}

.nav-pills>li>a {
    border-radius: 0;
    font-size: 12px;
    color: #555462;
    text-transform: uppercase;
    color: #fffffe;
    text-transform: uppercase;
    background-color: #213b52;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:active {
    color: #ffffff !important;
    background-color: #da843b !important;
    font-weight: bold !important;
}

@media (max-width: 767px) {
    .content {
        padding-left: 0;
    }
    .rtl-content.content {
        padding-right: 0 !important;
    }
    .row-flex {
        display: block !important;
    }
    .rtl-nav>li+li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .rtl-nav li {
        float: none;
    }
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
    background-color: #213b52 !important;
    margin-right: 5px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
    background-color: #255f8b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    border: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: white !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: white !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white !important;
}

.side-bar .dropdown-menu {
    background-color: transparent;
    min-width: 200px;
    border: 0;
}

.side-bar .dropdown-menu .active a {
    background-color: transparent;
}

.side-bar .dropdown-menu a {
    padding-left: 30px !important;
}

.rtl-side-bar {
    right: 0;
    transition: margin-right 0.5s;
}

.rtl-content.content {
    /* padding-right:17%; */
    /* padding-left: 0; */
    padding: 15px 50px 15px 15px;
    transition: padding-right 0.5s;
}

.active>.side-bar.rtl-side-bar {
    margin-right: -150px;
    margin-left: 0px;
    transition: margin-right 0.5s;
}

.rtl-side-bar .pull-right {
    float: left !important;
}

.rtl-side-bar ul li.menu-head {
    text-align: right;
}

.rtl-side-bar ul .menu li a {
    text-align: right;
}

.active>.rtl-content {
    padding-right: 50px;
    transition: padding-right 0.5s;
}

.row-flex {
    display: flex;
}

.rtl-form .input-group-addon:last-child {
    border: 1px solid #e7e7e7;
    border-right: 0;
}

.rtl-form .input-group .form-control:first-child {
    border: 1px solid #e7e7e7;
    border-left: 0;
}

.rtl-nav>li+li {
    margin-left: 0;
    padding-right: 2px;
    padding-left: 0 !important;
}

.nav-pills>li+li {
    margin-right: 0;
    padding-left: 2px;
    margin-bottom: 3px
}

.search {
    width: 100%;
}

.nav-pills>li>a {
    font-size: 11px;
}

.rtl-nav {
    padding-right: 0 !important;
}

.rtl-nav li {
    float: none;
}

.rtl-side-bar .fa.pull-right {
    margin-left: 0 !important;
}

.rtl-side-bar ul .menu li a.active,
.rtl-side-bar ul .menu li a:hover {
    border-left: 0;
    border-right: 3px solid #ffbe87;
    padding-right: 17px;
    padding-left: 20px;
}

.rtl-side-bar ul .menu li a.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 7px solid #D9853B;
    border-left: 0;
    margin: 0px;
    left: -7px;
    top: -1px;
}

.rtl-navbar .fa.pull-right {
    float: left !important;
    margin-right: 0;
}

.rtl-navbar .open .dropdown-menu>li>a,
.rtl-navbar .open .dropdown-menu .dropdown-header {
    padding: 5px 25px 5px 15px;
    text-align: right;
}

.rtl-navbal .navbar-nav>li>a {
    padding-right: 0;
    padding-left: 0;
}

.rtl-navbar .navbar-default .navbar-brand {
    padding-right: 10px !important;
}

.rtl-side-bar ul .menu li a.active {
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.table-responsive .table {
    max-width: none;
}

.rtl-navbar.navbar-default .navbar-toggle {
    margin-left: 5px;
    margin-right: 0;
}

.main-banner {
    position: relative;
    display: block;
    height: 500px;
    margin-bottom: 20px;
    background-size: auto auto;
    background-size: cover;
}

.main-banner .inner {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    right: 0;
    margin-top: -100px;
    text-align: center;
    padding: 20px;
}

h1,
.h1 {
    font-size: 46px;
    font-weight: bold;
    color: #0c3b5d;
}

.btn-black {
    background-color: #333;
    color: #FFF;
}

.btn-black:hover {
    background-color: #555;
    color: #FFF;
}

.btn-orange:hover {
    background-color: #e69650;
}

.bloc-white {
    background-color: #FFF;
    color: #131313;
    border: 0;
    border-top: 5px solid #213b52;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 0;
}

.text-green {
    color: #213b52;
}

.text-blue {
    color: #008bbc;
}

.text-orange {
    color: #f2ae43;
}

.text-gray {
    color: #a9a7a7;
}

.info-icon {
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.modal-title {
    text-align: center !important;
    color: #FFF;
}

.modal .close {
    margin-top: 0;
    color: #FFF;
}

.modal-header {
    border-bottom: 0;
    background-color: #083a5e;
    color: #FFF;
}

.modal-body table th {
    font-weight: bold;
}

.th-primary {
    color: #FFF;
    background-color: #fba24b;
}

.tab-pane {
    padding: 15px 10px;
    border: 1px solid #EEE;
}

.card-services .sec-heading {
    margin-bottom: 60px;
}

.card-services .card {
    background: #ffffff;
    border-top: solid 3px;
}

.card-services .card .card-body {
    padding-top: 0px;
    float: left;
}

.card-services .card.youtube {
    border-top-color: #da2723;
}

.card-services .card.facebook {
    border-top-color: #4768a0;
}

.card-services .card.instagram {
    border-top-color: #7d479b;
}

.card-services .card.twitter {
    border-top-color: #00aced;
}

.card-services .card.tiktok {
    border-top-color: #010101;
}

.card-services .card.other {
    border-top-color: #2979ff;
}

.card-services .card.youtube .icon {
    background: #da2723;
}

.card-services .card.facebook .icon {
    background: #4768a0;
}

.card-services .card.instagram .icon {
    background: #e1306c;
}

.card-services .card.twitter .icon {
    background: #00aced;
}

.card-services .card.tiktok .icon {
    background: #010101;
}

.card-services .card.other .icon {
    background: #2979ff;
}

.card-services .card .icon {
    width: 60px;
    height: 60px;
    line-height: 78px;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin-top: -30px;
    margin-right: 15px;
    color: #fff;
}

.card-services .card .icon i {
    font-size: 40px;
}

.card-services .card .title {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 600;
    overflow: hidden;
    display: block;
    min-height: 20px;
    margin-bottom: 10px;
}

.card-services .card .pera {
    display: block;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    min-height: 30px;
}

.card-services .cols {
    margin-bottom: 40px;
}

.card-services {
    margin-top: 45px;
    margin-bottom: -20px;
}

.card-services .card {
    position: relative;
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border: none;
    border-radius: 0 !important;
    background-color: #ffffff;
    border-top: 5px solid #24608c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-services .row-flex {
    flex-wrap: wrap;
}

.card-services .row-flex .card .icon {
    float: right;
    margin-right: 0;
}

@media (min-width: 992px) {
    .card-services .row-flex .col-md-6 {
        flex: 0 0 50%;
        max-width: calc(50% - 1px);
    }
}

@media (min-width: 768px) {
    .card-services .row-flex .col-md-6 {
        flex: 0 0 50%;
        max-width: calc(50% - 1px);
    }
}


/** Copy code below **/

.input-icon {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #A9ABAD;
}

.input-icon:hover,
.input-icon:focus,
.input-icon:active {
    text-decoration: none;
}

.rtl-input-icon {
    left: 0;
    right: auto;
}

.rtl-dropdown-menu {
    right: 0;
    left: auto;
    direction: rtl;
    text-align: right;
}

.search-icon {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #A9ABAD;
}

.rtl-search-icon {
    left: auto;
    right: 0;
}

.chat-container {
    border-radius: 15px 15px 3px 3px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.chat-header.customer {
    background: #24608c;
}

.chat-header {
    padding: 5px 10px;
    background: #D9853B;
    display: flex;
    align-items: center;
    color: #fff;
}

.chat-header .icon {
    font-size: 30px;
    padding: 5px;
}

.chat-header .time {
    font-size: 10px;
}

.chat-message {
    background: #eee;
    padding: 10px;
    border-left: 1px solid #cccccc63;
    border-right: 1px solid #cccccc63;
    border-bottom: 1px solid #cccccc63;
    box-shadow: 0px 3px 1px #E5E5E5;
    line-height: 2;
}

.chat-container {
    margin-bottom: 15px;
}

.chat-header .time {
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

span.author {
    display: inline-block;
    margin-bottom: 5px
}

.description {
    background-color: #eeeeee;
    border-top: 5px solid #213b52
}

.nav-pills>li.pending a:hover,
.nav-pills>li.pending.active a {
    background-color: #999999 !important
}

.nav-pills>li.inprogress a:hover,
.nav-pills>li.inprogress.active a {
    background-color: #75caeb !important
}

.nav-pills>li.completed a:hover,
.nav-pills>li.completed.active a {
    background-color: #213b52 !important
}

.nav-pills>li.partial a:hover,
.nav-pills>li.partial.active a {
    background-color: #ff851b !important
}

.nav-pills>li.processing a:hover,
.nav-pills>li.processing.active a {
    background-color: #fcc103 !important
}

.label-process {
    background-color: #fcc103
}

.nav-pills>li.canceled a:hover,
.nav-pills>li.canceled.active a {
    background-color: #ff4136 !important
}

.navbar-default .navbar-nav>li>a.active {
    background-color: #D9853B
}

.rasasi {
    background-color: #999999
}

.voucher {
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff
}

.voucher_thumb img {
    max-width: 100%;
}

.voucher_content {
    position: relative;
    z-index: 1;
    padding: 0px 25px 30px;
}

.btn-voucher {
    border-radius: 100px;
    color: #fff!important;
    background-color: #f26c23;
    box-shadow: 0px 3px 17px rgb(196 147 101 / 70%);
    padding: 13px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    display: inherit;
}

.voucher-service {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 25px;
    border-top: 5px solid #24608c;
}

.voucher-service img {
    width: 50px;
    height: 50px;
    object-fit: contain
}

.voucher-service h4 {
    text-align: center;
    margin: 20px;
    font-size: 25px
}

.copy-text {
    position: relative;
    max-width: 320px;
}

.copy-text .form-control {
    padding: 0 80px 0 10px;
    border: 1px solid #d8d8d8;
    height: 35px;
    border-radius: 30px;
    background: #f9f9f9;
    text-align: center
}

.copy-text button:focus {
    outline: none
}

.copy-text button {
    color: #fff;
    background: #171717;
    border-radius: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0 20px
}